html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#main
{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    cursor: pointer;
    flex-direction: column;
}

#playArea {
  display: flex;
  height: 118px;
  width: 1000px;
  align-items: center;
  flex-direction: column;
  background: gray;
  font-size:70px;
  justify-content: center;
  display:none;
}

#titleBar {
  display: flex;
  height: 38px;
  width: 1000px;
  align-items: center;
  flex-direction: row;
  background: gray;
  font-size:70px;
  justify-content: center;
  border: 1px solid black;
  border-right: 0px;

}

#board {
  display: flex;
  height: 79px;
  width: 1000px;
  align-items: center;
  flex-direction: row;
  background: gray;
  font-size:70px;
  justify-content: center;
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
}

.title {
  display: flex;
  height: 38px;
  width: 99px;
  align-items: center;
  flex-direction: column;
  background: red;
  font-size: 34px;
  border-right: 1px solid black;
}

.display {
  display: flex;
  height: 79px;
  width: 99px;
  align-items: center;
  flex-direction: column;
  background: yellow;
  font-size:30px;
  border-right: 1px solid black;
}

.hole {
  background: green;
}

.beer {
  background: brown;
}

.player {
  background: orange;
}

.hidden {
  color: gray;
  background: gray;
}

#console {
  display:flex;
  flex-direction: row;
  margin-bottom:10px;
}

#infoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:500px;
  width:500px;
  background:#7f8000;

}

.square {
  position:relative;
  height:50px;
  width:50px;
  background:#7f8000;
}

.triangle-bottom {
  position:absolute;
  top:40px;
  width: 30px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.triangle-top {
  position:absolute;
  width: 30px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.triangle-right {
  position:absolute;
  left:40px;
  width: 0;
  height: 30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.triangle-left {
  position:absolute;
  width: 0;
  height: 30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}